
@model IEnumerable<WebEscuelaRelaciones.Models.Curso>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-dark" asp-action="Create">Crear curso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Creditos)
            </th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Creditos)
            </td>
            <td class="text-center">
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.CursoID">Edit</a> 
                <a class="btn btn-primary"  asp-action="Details" asp-route-id="@item.CursoID">Details</a> 
                <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.CursoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>



<p>
    <a class="btn btn-dark" asp-controller="Home" asp-action="Index">Volver</a>
</p>
