@using WebEscuelaRelaciones.Paginacion

<!--model IEnumerable<WebEscuelaRelaciones.Models.Alumno>-->
@model ListaPaginacion<WebEscuelaRelaciones.Models.Alumno>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-dark"  asp-action="Create">Crear Alumno</a>
</p>

<!--Formulario con el cuadro de búsqueda-->
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Buscar por nombre: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Buscar" class="btn btn-dark" /> 
            <a class="btn btn-dark" asp-action="Index">Ver todos</a>
        </p>
    </div>
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                <!--Html.DisplayNameFor(model => model.Nombre)-->
                Nombre  
            </th>
            <th>
                <!--Html.DisplayNameFor(model => model.Apellido)-->
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Apellido</a>
            </th>
            <th>
                <!--Html.DisplayNameFor(model => model.FechaInscripcion)-->
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Fecha Inscripción</a>
            </th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInscripcion)
            </td>
            <td class="text-center">
                <a class="btn btn-success"  asp-action="Edit" asp-route-id="@item.AlumnoID">Editar</a> 
                <a class="btn btn-primary"  asp-action="Details" asp-route-id="@item.AlumnoID">Detalles</a> 
                <a class="btn btn-danger"   asp-action="Delete" asp-route-id="@item.AlumnoID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>




<p>
    <a class="btn btn-dark" asp-controller="Home" asp-action="Index">Volver</a>
</p>
